.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  margin: 10px;
  padding: 20px;
  font-family: sans-serif;
  background-color: #A1F9FF;
}

.root {
  padding:15px;
}


/*
Pokemon go colors:
Sherman blue #2C97C1;
Sun Blue #A1F9FF;
iam_100thNrBLACK #504040
Chruch stone #ABACA6;
in the beginning #08090D; */